<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header.html :: common_header(~{::title})">
<title>盘点管理</title>
</head>
<link th:href="@{/static/css/main.css}" rel="stylesheet" />
<body class="gray-bg">
	<input type="hidden" id="equInfoId" />
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>盘点管理</h5>
					</div>
					<div class="ibox-content">
						<div class="row row-lg">
							<div class="col-sm-12">
								<div class="col-lg-2 col-sm-3">
									<div class="panel panel-default">
										<div class="panel-heading">设备</div>
										<div class="panel-body dept-tree">
											<ul id="equInfoTree" class="ztree"></ul>
										</div>
									</div>
								</div>
								<div class="col-lg-10 col-sm-9">
									<div class="ibox float-e-margins">
										<button type="button" class="btn btn-primary"
											onclick="Inventory.inventory()">
											<i class="fa fa-edit"></i>&nbsp;盘点
										</button>
										<div class="ibox-content">
											<div id="equinfos" class="ibox float-e-margins" style="height: 600px;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/modular/tool/inventory/index.js}"></script>
	<script th:src="@{/static/js/string.js}"></script>
</body>
</html>