<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnbaosi.cabinet.mapper.UserMapper">

	<select id="getEmailList" resultType="java.lang.String">
		SELECT email FROM bs_user WHERE email IS NOT NULL AND email NOT LIKE '';
	</select>

</mapper>