<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header.html :: common_header(~{::title})">
<title>用户信息</title>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="row row-lg">
							<div class="col-lg-12 col-sm-12">
								<div class="row">
									<div class="col-lg-12 col-sm-12">
										<div class="row" style="padding-top: 10px;">
											<div class="col-lg-3 col-sm-3">
												<div class="input-group">
													<div class="input-group-btn">
														<button data-toggle="dropdown"
															class="btn btn-white dropdown-toggle" type="button">用户
														</button>
													</div>
													<input type="text" class="form-control" id="name"
														placeholder="姓名/帐号/IC卡号" />
												</div>
											</div>
											<div class="col-lg-3 col-sm-3">
												<div class="input-group">
													<div class="input-group-btn">
														<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">部门
														</button>
													</div>
													<input type="text" class="form-control" id="dept" placeholder="部门" />
												</div>
											</div>
											<div class="col-lg-3 col-sm-3">
												<button type="button" class="btn btn-primary" onclick="MgrUser.search()" id="search">
													<i class="fa fa-search"></i>&nbsp;搜索
												</button>
												&nbsp;&nbsp;&nbsp;
												<button type="button" class="btn btn-primary button-margin" onclick="MgrUser.resetSearch()" id="trash">
													<i class="fa fa-refresh"></i>&nbsp;重置
												</button>
											</div>
										</div>
										<hr />
									</div>
									<div id="managerTableToolbar1">
										<button type="button" class="btn btn-primary"
											onclick="MgrUser.openAddMgr()" id="addMgr">
											<i class="fa fa-plus"></i>&nbsp;添加
										</button>
										<button type="button" class="btn btn-danger btn-outline"
											onclick="MgrUser.delMgrUser()" id="delMgrUser">
											&nbsp;批量删除</button>
										<button type="button" class="btn btn-primary btn-outline"
											onclick="MgrUser.openUpload()" id="upload">
											<i class="fa fa-upload"></i>&nbsp;导入
										</button>
									</div>
								</div>
							</div>
						</div>
						<table id="managerTable">
							<thead th:include="/common/thead.html :: common_thead">
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/modular/admin/user/user.js}"></script>
	<script th:src="@{/static/js/content.js}"></script>
</body>

</html>