<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header.html :: common_header(~{::title})">
    <title>系统信息</title>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>系统维护</h5>
					</div>
					<div class="ibox-content">
						<div class="row row-lg">
							<div class="col-sm-12">
								<div class="row">
									<div class="col-lg-10 col-sm-9">
										<div class="row">
											<div class="col-lg-10 col-sm-9">
												<div class="row">
													<div class="col-lg-4 col-sm-12">
														<div class="input-group">
														    <div class="input-group-btn">
														        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
														                type="button">系统名称
														        </button>
														    </div>
														    <input type="text" class="form-control" id="systemName" placeholder="系统名称" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-sm-3">
												<div class="row">
													<div class="col-lg-12 col-sm-12">
														<button type="button" class="btn btn-primary" onclick="SystemInfo.search()" id="search">
														    <i class="fa fa-search"></i>&nbsp;搜索
														</button>
														<button type="button" class="btn btn-primary button-margin" onclick="SystemInfo.resetSearch()" id="trash">
														    <i class="fa fa-trash"></i>&nbsp;重置
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="hidden-xs" id="managerTableToolbar1" role="group">
											<shiro:hasAnyPermission name="/systemInfo/add">
												<button type="button" class="btn btn-primary" 
													onclick="SystemInfo.openAddSystemInfo()" id="addSystemInfo">
												    <i class="fa fa-plus"></i>&nbsp;添加
												</button>
											</shiro:hasAnyPermission>
											<shiro:hasAnyPermission name="/systemInfo/edit">
												<button type="button" class="btn btn-primary button-margin" 
													onclick="SystemInfo.openChangeSystemInfo()" id="changeSystemInfo">
												    <i class="fa fa-edit"></i>&nbsp;修改
												</button>
											</shiro:hasAnyPermission>
											<shiro:hasAnyPermission name="/systemInfo/update">
												<button type="button" class="btn btn-primary button-margin" 
													onclick="SystemInfo.delSystem()" id="delSystem">
												    <i class="fa fa-remove"></i>&nbsp;启用/停用
												</button>
											</shiro:hasAnyPermission>
											<!-- 
											<shiro:hasAnyPermission name="/systemInfo/delete">
											<button type="button" class="btn btn-primary button-margin" onclick="SystemInfo.delSystemInfo()" id="delSystemInfo">
											    <i class="fa fa-remove"></i>&nbsp;删除
											</button>
											</shiro:hasAnyPermission>
											 -->
										</div>
										<table id="systemInfoTable">
											<thead th:include="/common/thead.html :: common_thead">
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/modular/admin/systemInfo/system.js}"></script>
	<script th:src="@{/static/js/content.js}"></script>
</body>
</html>