<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header.html :: common_header"></head>

<script th:src="@{/static/custom/js/user/depts.js}"></script>

<style type="text/css">

</style>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h5>部门设置</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="deptTreeContent">
                        <div id="deptTree"></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="deptContent">
                        <div class="btn-group updateCategoryMapBtn">
                            <input name="status" type="checkbox"  checked>
                        </div>


                        <div class="btn-group updateCategoryMapBtn">
                            <button type="button" class="btn btn-outline btn-default" id="updateDeptMapBtn">
                                <i class="fa fa-plus"></i> 保存
                            </button>
                        </div>
                        <table id="userList" data-mobile-responsive="true"></table>
                    </div>

                    <!-- <div class="btn-group" style="float: right;margin-bottom:5px">
                        <button type="button" class="btn btn-outline btn-default"  id="openCategoryAddBtn">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                    </div>
                    <table id="matCategoryList" data-mobile-responsive="true"></table> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="matDeptDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">确认信息</h4>
            </div>
            <div class="modal-body">
                是否删除部门？
            </div>
            <input type="hidden" id="deleteDeptId">
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="deptDeleteBtn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
