<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IC卡绑定</title>
<script th:src="@{/static/js/sockjs.min.js}"></script>
<script th:src="@{/static/js/stomp.min.js}"></script>
<script th:src="@{/static/js/jquery.min.js}"></script>
<link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" />
<link th:href="@{/static/css/reset.css}" rel="stylesheet" />
<link th:href="@{/static/css/jia_style.css}" rel="stylesheet" />
<link th:href="@{/static/css/swiper.css}" rel="stylesheet" />
<link th:href="@{/static/css/css.css}" rel="stylesheet" />
<link th:href="@{/static/css/zTreeStyle.css}" rel="stylesheet" />
<script th:src="@{/static/js/jquery.ztree.all.min.js}"></script>
</head>

<body>
	<div class="layer-title">
		<div></div>
		<h3>读卡器</h3>
		<a href="javascript:void('0');" class="l-close"><img
			src="/static/images/l-close.jpg" alt=""></a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6"
				style="height: 500px; overflow-y: auto;">
				<ul id="treeContainer" class="ztree"></ul>
			</div>
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6"
				style="height: 500px; overflow-y: auto;">
				<ul id="treeContainer2" class="ztree"></ul>
			</div>
		</div>
		<div class="row layui-form-item">
			<div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
				<label class="layui-form-label" style="width: 100%;">IC卡信息</label>
			</div>
			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6"
				style="text-align: left;">
				<div class="layui-input-block">
					<input type="text" id="cardNo" placeholder="请刷卡"
						readonly="readonly" class="layui-input" autofocus="autofocus">
				</div>
			</div>
			<div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
				<button type="button" class="layui-btn layui-btn-primary"
					onclick="icBind()">绑定</button>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	var tree;
	var tree2;
	
	var inputStr="";
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(inputStr.length > 1 && e && e.keyCode==13) { // enter键 
           formSubmit();
           inputStr="";
        } else {
          //累计数值
           inputStr=inputStr+String.fromCharCode(e.keyCode);
         }
      };
      
      function formSubmit(){
      	document.getElementById("cardNo").value = inputStr;
	  }
      
	var setting = {
		data : {
			simpleData : {
				enable : true
			}
		},
		view : {
			nameIsHTML : true,
			showLine : true,
			dblClick : false
		},
		callback : {
			beforeClick:function(treeId, treeNode, clickFlag) {
				if (treeNode.id.startsWith('d_')) {
					layer.msg('请选择人员');
				}
				return !treeNode.id.startsWith('d_');
			},
			onClick:function(event, treeId, treeNode) {
				loadTree2(treeNode.id);
			}
		}
	};

	var setting2 = {
		data : {
			simpleData : {
				enable : true
			}
		},
		view : {
			nameIsHTML : true,
			showLine : true,
			dblClick : false
		},
		check: {
			enable: true,
			chkStyle: "checkbox",
			chkboxType: { "Y": "s", "N": "ps" }
		},
		callback : {
			onClick:function(event, treeId, treeNode) {
				tree2.checkNode(treeNode, !treeNode.checked, true);
				console.log(treeNode);
			
			}
		}
	};
	
	$(function() {
		loadTree();
		loadTree2();
		
		$(".l-close").click(function() {
			$("#layerAdmin").hide();
			$(".l-cover").hide();
			revokeSession();
		});
	});

	//初始化树
	function loadTree() {
		var url = "/cabinet/initAccountTree";
		$.ajax({
			type : "post",
			url : url,
			async : false,
			dataType : "json",
			success : function(data) {
				tree = $.fn.zTree.init($("#treeContainer"), setting, data);
			}
		});
		return tree;
	}

	//初始化权限树
	function loadTree2(accountId) {
		if(accountId == null){
			accountId = "-1";
		}
		var url = "/cabinet/initBorrowPopedomTree";
		$.ajax({
			type : "post",
			url : url,
			async : false,
			dataType : "json",
			data : {
				"accountId" : accountId,
			},
			success : function(data) {
				tree2 = $.fn.zTree.init($("#treeContainer2"), setting2, data);
			}
		});
		return tree2;
	}
	
	/**
	 * @description ic卡绑定
	 */
	function icBind() {
		var accounts = tree.getSelectedNodes();
		if (accounts.length < 1) {
			layer.msg("请先选择绑定帐户");
			return;
		}
		var selected = tree2.getCheckedNodes(true);
		if (selected.length < 1) {
			layer.msg("请先选择取料权限");
			return;
		}
		var firstFlag = true;
		var oldNode = '';
		var popedoms = '';
		for (var i = 0; i < selected.length; i++) {
			// 判断该节点是否是最底层的节点
			if(selected[i].check_Child_State != -1){
				continue;
			}
			// 获取该节点所有的父节点（包括自己）
			var node = selected[i].getPath();
			if(oldNode != node[1].id ){
				if(!firstFlag){
					popedoms += ';';
				}
				popedoms += node[1].id + ':';
			}
			// 如果类型节点以下的所有节点都被选中,则赋值All
			if(node[1].check_Child_State != 2 || !node[1].checked){
				for(var j = 2; j < node.length; j++){
					popedoms += node[j].id + ',';
				}
			}else{
				popedoms += 'All,';
			}
			oldNode = node[1].id;
			firstFlag = false;
		}
		console.log(popedoms);
	 	$.ajax({
			url : '/cabinet/icBind',
			type : 'post',//提交方式
			data:{"accountId":accounts[0].id, "cardNo": $("#cardNo").val(), "popedoms":popedoms },
			dataType : "json",
			success : function(result) {
				layer.msg(result.message);
			},
			error : function(err) {//后台处理数据失败后的回调函数
				layer.msg(err);
			}
		});
	}
	
	var cabinetId = [[${cabinetId}]];
    var stompClient = null;
    var socket = new SockJS('/endpointModbusStatus'); //1连接SockJS的endpoint是“endpointWisely”，与后台代码中注册的endpoint要一样。
    stompClient = Stomp.over(socket);//2创建STOMP协议的webSocket客户端。
    stompClient.connect({}, function(frame) {//3连接webSocket的服务端。
        console.log('IC Login 开始进行连接Connected: ' + frame);
        //4通过stompClient.subscribe（）订阅服务器的目标是'/user/' + userId + '/msg'接收一对一的推送消息,其中userId由服务端传递过来,用于表示唯一的用户,通过此值将消息精确推送给一个用户
        stompClient.subscribe('/modbus/' + cabinetId + '/status', function(response){
            var msg = JSON.parse(response.body);	            
            if (msg.msgType=='ICSWIPING') {
                console.log('Recev ic_str : ' + msg.msgContent);
                $("#cardNo").val(msg.msgContent);
    		}
        });
    });
</script>
</body>
</html>