<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- 我要续存 -->
<div class="layer-title">
	<div></div>
	<h3>我要续存</h3>
	<a href="javascript:void('0');" class="l-close"><img
		src="/static/images/l-close.jpg" alt=""></a>
</div>
<div class="jia_layer_main2">
	<div class="jia_dialog_left">
		<img th:src="'data:img/png;base64,' + ${detail.pic}" onerror="imgerrorfun();" style="max-width: 375px; max-height: 235px;"/>
	</div>
	<div class="jia_dialog_right">
		<ul>
			<li>名称：<span th:text="${detail.matName}"></span></li>
			<li>料号：<span th:text="${detail.barCode}"></span></li>
			<li>规格/型号：<span th:text="${detail.spec}"></span></li>
			<li>数量：<span th:text="${detail.borrowNum}" th:id="'borrowNum_' + ${detail.matId}"></span></li>
			<li>单位：<span th:text="${detail.borrowTypeName}"></span></li>
			<li>续存： 
				<a href="javascript:void('0');" style="margin-left: 2vw; width: 2.5vw; height: 2.5vw;" onclick="sub()">-</a>
				<span id="num">1</span>
				<a href="javascript:void('0');" style="margin-right: 2vw; width: 2.5vw; height: 2.5vw;" 
					th:onclick="'add(\''+${detail.borrowNum}+'\')'">+</a>
			</li>
		</ul>
	</div>
</div>
<div class="jia_tip_btn2" style="clear: both">
	<a href="javascript:void('0');"
		th:onclick="'inStorAffirm(\''+${detail.subBoxId}+'\',\''+${detail.matId}+'\')'"
		onclick="inStor()">确定续存</a> <a href="javascript:void('0');"
		onclick="cancel()">取消</a>
</div>
<script th:inline="javascript">
	var boxIndex = [[${lockIndex}]];
	
	$(function() {
		$(".l-close").click(function() {
			$(".layer").hide();
			$(".l-cover").hide();
		})
	});

	/**
	 * @description 添加
	 */
	function add(num) {
		var curNum = parseInt($("#num").html()) + 1;
		if (curNum <= num) {
			$("#num").html(curNum);
		}
	}
	
	/**
	 * @description 减少
	 */
	function sub() {
		var curNum = parseInt($("#num").html()) - 1;
		if (curNum > 0) {
			$("#num").html(curNum);
		}
	}
	
	/**
	 * @description 确定续存
	 * @param subboxId 暂存盒子Id
	 * @param matInfoId 物料Id
	 */
	function inStorAffirm(subboxId, matInfoId) {
		var borrowNum = $("#borrowNum_" + matInfoId).html();
		console.log(borrowNum);
		if(borrowNum <= 0){
			layer.msg("续存数量不足");
			return;
		}
		var url = "/cabinet/opSubBox";
		$.ajax({
			type : "post",
			url : url,
			data : {
				"opType" : 'TMPSTOR',
				"subBoxId":subboxId,
				"matInfoId":matInfoId,
				"num":parseInt($("#num").html())
			},
			dataType : "json",
			success : function(data) {
				layer.msg(data.message);
				flushBusiness('subcabinet');
				$(".layer").hide();
				$(".l-cover").hide();
			}
		});
	}
</script>
</html>