<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header.html :: common_header(~{::title})">
	<title>编辑单位</title>
</head>
<body>
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="form-horizontal" id="infoForm" th:object="${unit}">
				<input type="hidden" id="id" th:field="*{id}">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<div class="form-group">
							<label class="col-lg-1 col-sm-2 control-label"><span class="required">*</span>单位名称</label>
							<div class="col-lg-3 col-sm-3">
								<input class="form-control" id="unitName" name="unitName" type="text"
									th:field="*{unitName}" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						<div class="col-lg-12 " style="padding-top: 35px; padding-left: 55px;">
							<button type="button" class="btn btn-primary btn-outline " onclick="infoDlg.close()"
								id="cancel">
								<i class="fa fa-eraser"></i>&nbsp;取消
							</button>
							&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-primary" onclick="infoDlg.editSubmit()" id="ensure">
								<i class="fa fa-check"></i>&nbsp;保存
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/modular/tool/unit/edit.js}"></script>
</body>
</html>